# Environment files
.env
.env.local
.env.*.local

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build outputs
bin/
dist/

# Nextjs build output
.next/
out/

messages/backup/

# Capacitor build output
android/
ios/

# Storybook build output
storybook-static/
.source